@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";  


body{
  justify-content: center ;
  display: flex;
  text-decoration: none;
  font-family: "Jost", sans-serif !important;
  font-size: 16px; 
}
button{
  font-size: 16px;
  font-family: "Jost", sans-serif !important;
  cursor: pointer;
  transition: 0.2s ease;
}
a,p{
  text-decoration: none;
  color: black;
  font-family: "Jost", sans-serif !important;
}
input{
  font-family: "Jost", sans-serif !important;
  font-size: 14px;
  border: none;
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
}