@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));  
@import "@radix-ui/themes/styles.css";


*{
  font-family: "Jost", sans-serif !important;
  
}


body{
  /* justify-content: center ;
  display: flex;
  text-decoration: none; */
  font-family: "Jost", sans-serif !important;
  font-size: 16px; 
}
header{
  /* background: #6F73EE; */
}
button{
  font-size: 16px;
  font-family: "Jost", sans-serif !important;
  cursor: pointer;
  transition: 0.2s ease;
}
a,p{
  text-decoration: none;
  
  font-family: "Jost", sans-serif !important;
  transition: 0.2s ease;
}
input{
  font-family: "Jost", sans-serif !important;
  font-size: 14px;
  border: none;
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
}
img{
    transition: 0.2s ease;
}


.swiper-slide {
  text-align: center; 
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
